button{
    background-color: white;
}

h3{
    display: block;
    text-align: center;
    margin: 3% auto;
}

.select{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F4FDFD;
    margin: 0% 20% 5% 20%;
}

.regularly{
    margin: 30% auto;
}

.notRegularly{
    margin: 30% auto;
}


#submit{
   display: block;
    margin: 0 auto;
    width: 80px;
}

