td{
    width: 50px;
    height: 50px;
    padding: 0px;
}

th{
    height: 40px;
    border: 10px solid white;
}

.ttdm{
    background-color: lightgrey;
    height: 40px;
    border: 10px solid white;
}

#ttwrap{
    display: flex;
    justify-content: center;
}

#tt1{
    display: inline-block;

}

#tt2{
    display: inline-block;

}
