.th{
    font-size: 15px;
    height: 60px;
}

.tth{
    height: 60px;
    font-size: 16px;
    padding: 0;
    border: 0;
}

.td{
    width: 60px;
    height: 22px;
    padding: 0px;
    border: 5px solid white;
    font-size: 15px;
}

.ttdm{
    background-color: lightgrey;
    width: 60px;
    height: 22px;
    padding: 0px;
    border: 5px solid white;
    font-size: 15px;
}

#ttwrap{
    display: flex;
    justify-content: center;
}

#tt1{
    display: inline-block;

}

#tt2{
    display: inline-block;

}
