table {
    border-collapse: collapse;
    display: inline-block;
    padding-left: 10px;
}

.th{
    height: 60px;
    font-size: 15px;
}

.tth{
    height: 60px;
    font-size: 16px;
    padding: 0;
    border: 0;
}

.td{
    width: 60px;
    height: 22px;
    padding: 0px;
    border: 5px solid white;
    font-size: 11px;
}

.ttd{
    background-color: #dff7f1;
    width: 60px;
    height: 22px;
    padding: 0px;
    border: 5px solid white;
}

#ttwrap{
    display: flex;
    justify-content: center;
}

#tt1{
    display: inline-block;
}

#tt2{
    display: inline-block;
}

#submitButton{
    display: block;
    width: 10vh;
    height: 5vh;
    margin: 2%;
    background-color: #a7d4d4;
    color: white;
    border-radius: 5px;
    border-color: #a7d4d4;
    font-family: 'Noto Sans KR', sans-serif;
}